@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.chart-line {
    filter: drop-shadow(0px 4px 4px rgb(13, 176, 221));
  }

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 12px 1fr 1fr 1fr;
        grid-template-areas:
            'sidebar header header header'
            'sidebar main main main';
    }

    
}